@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

:root {
  --color-primary: #7650E0;
  --color-secondary: #0E0E2C;

  --shadow-modal: 0px 4px 13px 0px #43434333;
  --shadow-button: 2px 6px 16px 0px #43434333;
}

body {
  font-family: "Work Sans", "sans-serif"
}

.shadow-modal {
  box-shadow: var(--shadow-card);
}

.shadow-button {
  box-shadow: var(--shadow-button);
}